body{
    background-color:  #ffffff;
}

.text__cadastro{
    position: absolute;
    text-align: center;
    color:  #3772FF;
    top: 8.5rem;
    line-height: 21px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.text__cadastro h1{
    padding-top: 4rem;
}

.text__cadastro h2{
    padding-top: .5rem;
}

form{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 17rem;
    left: 8%;
}

form label{
    color: #737380;
    padding-bottom: .1rem;
    padding-top: 1.25rem;
}

.form__container{
    background: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 20rem;
    height: 2.5rem;
    margin-top: .2rem;
    border: none;
    z-index: 1;
}

.form__container::placeholder{
    text-align: center;
    font-size: .7rem;
}

.form__container{
    background-color: #F6F6F6;
}

.btn{
    font-weight: 600;
}

.forma{
    position: absolute;
    top: 20rem;
}

.back-bigger-devices{
    display: none;
}

@media (max-width: 393px){
    .forma img{
        width: 75px;
    }
}

@media (max-width: 360px){
    .forma img{
        width: 60px;
    }

    footer{
        display: none;
    }
}



@media screen and (min-width: 768px){
    .icone__home{
        left: 10rem;
    }

    .icone__mensagem-menu{
        position: relative;
        left: 16rem;
    }

    .logo-bigger-devices{
        position: relative;
        top: 13rem;
        left: 16rem;
        width: 251.59px;
        height: 62px;
    }

    .text__cadastro{
        top: 17rem;
        padding-inline: 7rem;
    }

    form{
        position: relative;
        top: 22rem;
        left: 0;
    }

    .back-mobile{
        display: none;
    }
}

@media screen and (min-width: 800px){
    .logo-bigger-devices{
        left: 18rem;
    }
}

@media screen and (min-width: 1024px){
    .logo-bigger-devices{
        left: 25rem;
    }

    .text__cadastro{
        left: 7.5rem;
    }
}

/*-----------------------------------------DESKTOP----------------------------------*/

@media screen and (min-width: 1280px){
    .logo-bigger-devices{
        top: 8rem;
        left: 33rem;
    }

    .text__cadastro{
        top: 12rem;
        left: 16rem;
    }

    form{
        top: 16rem;
    }

    .footer__text{
        bottom: -5rem;
    }
}

@media screen and (min-width: 1440px){
    .logo-bigger-devices{
        left: 37rem;
    }

    .text__cadastro{
        left: 20rem;
    }

}

@media screen and (min-width: 1440px) and (min-height: 700px){
    .footer__text{
        bottom: -10rem;
    }
}

@media screen and (min-width: 1280px) and (min-height: 900px){
    .footer__text{
        bottom: 0;
    }
}
