body{
    background-color: #F7F7F7;
}

.profile__icone{
    position: absolute;
    left: 40rem;
    width: 40px;
}

.container{
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    top: 10rem;
}

.container h1{
    text-align: center;
    color: #3772FF;
    padding-inline: 4rem;
    padding-bottom: 2rem;
}

.container__bichinhos{
    display: flex;
    font-size: .8rem;
    background-color: #E5E5E5; 
    width: 100%;
    height: 196px;
}

.container__bichinhos img{
    width: 148px;
    height: 148px;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.bichinho__info__container{
    padding-top: 1rem;
    padding-left: 1rem;
}

.bichinho__info__container h2{
    color: #3772FF;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: .5rem;
}

.bichinho__info__container p{
    color:  #737380;;
}

.info-porte{
    line-height: 20px;
    padding-bottom: 1.8rem;
}

.msg{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.msg img{
    width: 18px;
    height: 18px;
    margin-top: -.8rem;
    margin-left: -1.5rem;
}

.msg p{
    margin-top: .5rem;
    font-size: .6rem;
}

footer{
    position: relative;
    text-align: center;
    bottom: -10rem;
    background: #36D6AD;
    height: 104px;
    color: #ffffff;
    display: flex;
}

footer h2{
    align-self: center;
    padding-left: 4rem;
}

@media (min-width: 768px){
    .container{
        top: 16rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        left: 1.5rem;
        gap: 15px;
    }

    .container h1{
        font-size: 1.2rem;
        padding-left: 10rem;
    }

    .container__bichinhos{
        width: 344px;
        height: 196px;
    }

    .bichinho__info__container h2{
        font-size: 1rem;
    }

    .zelda{
        margin-bottom: 7rem;
    }

    footer h2{
        padding-left: 16rem;
    }
}

@media (min-width: 834px){
    .container{
        left: 3.5rem;
    }

    footer h2{
        padding-left: 18rem;
    }
}

@media (min-width: 1024px){
    .profile__icone{
        left: 52rem;
    }

    .container{
        left: 10rem;
    }

    footer h2{
        padding-left: 22rem;
    }
}