body{
    background-color: #ffffff;
}

.foto-perfil{
    position: relative;
    left: 7rem;
}

.container{
    position: absolute;
    top: 10.5rem;
}

.container > p{
    text-align: center;
    color: var(--azul);
    padding: 0 3rem 3rem;
}

.container__perfil{
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 825px;  
    margin: auto;
    padding-bottom: 2rem;
    background: #F7F7F7;
    border-radius: 10px;
}


.container h1{
    text-align: center;
    color: #737380;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.container__perfil label{
    color: var(--azul);
    font-weight: 600;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
}

.container__perfil a{
    text-align: center;
    text-decoration: none;
    color: var(--bege);
    font-size: .75rem;
}

.foto__perfil-container{
    width: 80px;
    height: 80px;
    margin: auto;
    padding-bottom: .5rem;
}

.dados{
    width: 275px;
    height: 48px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    position: relative;
    left: 1rem;
    padding-left: 1rem;
}

.container__perfil textarea{
    width: 275px;
    height: 176px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    position: relative;
    left: 1rem;
    color: var(--cinza);
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.btn{
   padding-inline: 2rem;
   margin: auto;
}

.forma{
    display: none;
}

.footer__text{
    position: absolute;
    bottom: -26.5rem;
}

.footer__text h3{
    color: #ffffff;
}

@media screen and (max-width: 393px){
    .footer__text{
        bottom: -28rem;
    }
}

@media screen and (max-width: 360px){
    .footer__text{
        bottom: -31rem;
    }
}

/*-------------------------------------------TABLET----------------------------------------*/

@media screen and (min-width: 768px){
    .foto-perfil{
        position: absolute;
        left: 38rem;
    }

    .container{
        top: 17rem;
    }

    .container > p{
        padding-inline: 7rem;
        font-size: 1.1rem;;
    }

    .container__perfil{
        width: 524px;
        height: 756px;
        border-radius: 10px;
    }

    .dados{
        width: 475px;
        height: 48px;
    }

    .forma{
        display: flex;
        position: absolute;
        right: -2rem;
        top: 16rem;
        width: 134.45px;
        height: 664px;
    }

    .container__perfil textarea{
        width: 475px;
        height: 104px;
    }
}

@media screen and (min-width: 1024px){
    .foto-perfil{
        left: 80vw;
    }

    .container > p{
        font-size: 1.5rem;
    }
}

/*------------------------------------------DESKTOP----------------------------*/

@media screen and (min-width: 1278px) and (max-width: 1280px){
    .container__perfil{
        margin-bottom: 8rem;
    }

    .footer__text{
        bottom: -30rem;
    }
}

@media screen and (min-width: 1440px){
    .container > p{
        padding-inline: 28rem;
    }
}

@media screen and (min-width: 1441px){
    .footer__text{
        bottom: -38rem;
       }
}